# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\CODEGYM_COURSE\codegym_Module2\1. Introduction to Java\tinhTienLai\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
out
.idea
*.iml